.App {
  text-align: center;
}

.banner {
  border: solid black;
  color: white;
  background-size: cover;
  background-image: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-switch/e/ed/Pokemon_Sword_Shield_Walkthrough_0079.jpg?width=1280");
}

.pokemon {
  height: 150px;
}

.title {
  border: solid blue;
}

.work {
  border: solid green;
}

.top {
  border: solid red;
}

.progress {
  border: solid orange;
}

.footer {
  border: solid purple;
  background-color: navy;
  color: white;
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
}

.info {
  display: flex;
  justify-content: center;
}
.info > h3 {
  margin: 10px;
}
