.App {
  text-align: center;
  background-color: rgb(184, 210, 250);
}

.banner {
  border: solid black;
  color: white;
  height: 450px;
  background-size: cover;
  width: 1000px;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL2CDlRXd_HFENyi8EsT0aIpOlFdMFz0ro0FH6XMFmfkXPvZ5MyiTlpu7T5hgaqP5TJTM&usqp=CAU");
}
.projects {
  display: flex;
  justify-content: center;
}

.games {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightblue;
  position: fixed;
  width: 100%;
  height: 70px;
}
.github {
  height: 70px;
}

.fileCab {
  height: 250px;
}

.pokemonTitle {
  background-color: darkgreen;
  color: white;
  /* height: 400px; */
  background-size: cover;
  width: 800px;
}

.info {
  background-color: darkgreen;
  color: white;
  /* height: 400px; */
  background-size: cover;
  /* width: 800px; */
}
.battle {
  display: flex;
  justify-content: space-evenly;
}
.inProgressList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topProjectList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon {
  height: 100px;
}
.moves {
  font-size: 15px;
  background-color: green;
  color: white;
  margin: 10px;
  padding: 10px;
}

.oppmoves {
  font-size: 15px;
  background-color: green;
  color: white;
  margin: 10px;
}

.title {
  border: solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: center fixed; */
  background-image: url("computer5.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  padding-top: 60px;
  font-size: 18px;
  margin-left: -140px;
}

.profile {
  height: 150px;
}
.description {
  width: 450px;
}

.btn {
  font-size: 30px;
  margin: 1em;
  width: 25%;
  height: 300px;
  background-color: rgb(83, 162, 114);
  color: white;
  border: solid rgb(83, 162, 114);
}

.btnOpen {
  font-size: 20px;
  margin: 1em;
  width: 20%;
  height: 300px;
}

.work {
  border: solid green;
}

.top {
  border: solid white;
  padding: 10px;
  background-color: rgb(184, 210, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 400px;
}
.projLinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projLinks > a {
  padding: 10px;
  display: inline-block;
  /* margin-bottom: 10px; */
}

.progress {
  border: solid orange;
  background-color: rgb(184, 210, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.progLinks {
  width: 550px;
}
.progLinks > a {
  padding: 10px;
  display: inline-block;
  /* margin-bottom: 10px; */
}

.githubLink {
  /* border: solid green; */
  font-size: 25px;
  margin: 10px;
  height: 200px;
  width: 220px;
  padding-left: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  background-image: url("Folder-orangeblue.jpg");
  background-size: cover;
  /* padding: 3em; */
  /* text-decoration: none; */
}

.githubLink:hover {
  background-color: yellow;
}

.footer {
  border: solid purple;
  background-color: rgb(125, 171, 234);
  color: white;
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
}

.info {
  display: flex;
  justify-content: center;
}
.info > h3 {
  margin: 10px;
}

@media screen and (max-width: 1450px) {
  .title {
    border: solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: center fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 55px;
    margin-left: -50px;
    font-size: 15px;
  }
}
