.App {
  text-align: center;
}

.banner {
  border: solid black;
}

.title {
  border: solid blue;
}

.work {
  border: solid green;
}

.top {
  border: solid red;
}

.info {
  display: flex;
  justify-content: center;
}
.info > h3 {
  margin: 10px;
}

.pokemon {
  height: 200px;
}
